body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'zabras', Arial, Helvetica, sans-serif;
    background-image: url('img/desert-5385998_1280.png');
    margin: 0;
}

h1 {
    font-size: 64px;
    letter-spacing: 3px;
    text-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
}

canvas {
    display: block;
}

@media only screen and (max-width: 760px) {
    canvas {
        width: 100%;
    }
}

@media only screen and (max-height: 420px) {
    canvas {
        height: 100vh;
    }
    
    h1 {
        display: none;
    }
}

@font-face {
    font-family: 'zabras';
    src: url('fonts/zabars.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
} 

#start-screen {
    position: relative;
}

.screen-image {
    width: 720px;
    height: 380px;
    background-image: url('img/9_intro_outro_screens/start/startscreen_1.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.start-button {
    text-align: center;
    font-size: 52px;
    background-color: rgb(255,207,46);
    width: 100px;
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
}

.start-button:hover {
    background-color: rgb(255,146,71);
}

@media (max-width: 750px) {
    .screen-image {
        width: 400px;
    }
}

.lose-screen {
    position: absolute;
    top: 0;
    left: 0;
    height: 200px;
}

.game-over-screen {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    height: 100%;
    width: 100%;
}

.endscreen-text {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.gameplay-keys {
    display: flex;
    font-size: 40px;
    border: 1px solid black;
}

.key-arrow-around {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border: 1px solid black;
}

.explain-key {
    margin-bottom: 20px;
    border: 1px solid black;
}

.img-arrow {
    height: 50px;
    border: 3px solid black;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.img-arrow img {
    height: 40px;
    border: 1px solid black;
}

.d-icon {
    padding: 40px;
    border: 1px solid black;
}

.space-key {
    padding: 40px;
    border: 1px solid black;
}