body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'zabras', Arial, Helvetica, sans-serif;
    background-image: url('img/desert-5385998_1280.png');
    margin: 0;
}

.d-none {
    display: none;
}

h1 {
    font-size: 64px;
    letter-spacing: 3px;
    text-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
}

.button-container {
    display: flex;
    justify-content: flex-end;
    width: 720px;
    z-index: 99;
}

.button-container div {
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

#sound-button {
    height: 35px;
    width: 35px;
    cursor: pointer;
}

canvas {
    display: block;
}

@media only screen and (max-width: 760px) {
    canvas {
        width: 100%;
    }
    .button-container {
        width: 100%;
    }
}

@media only screen and (max-height: 420px) {
    canvas {
        height: 100vh;
    }
    
    h1 {
        display: none;
    }
}

@font-face {
    font-family: 'zabras';
    src: url('fonts/zabars.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
} 

#start-screen {
    position: relative;
}

.screen-image {
    width: 720px;
    height: 380px;
    background-image: url('img/9_intro_outro_screens/start/startscreen_1.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.start-button {
    text-align: center;
    font-size: 52px;
    background-color: rgb(255,207,46);
    width: 100px;
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
    margin-bottom: 10px;
}

.start-button:hover {
    background-color: rgb(255,146,71);
}

@media (max-width: 750px) {
    .screen-image {
        width: 400px;
    }
}

.lose-screen {
    position: absolute;
    top: 0;
    left: 0;
    height: 200px;
}

.game-over-screen {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    height: 100%;
    width: 100%;
}

.endscreen-text {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.gameplay-keys {
    display: flex;
    font-size: 35px;
}

.key-arrow-around {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-right: 20px;
}

.explain-key {
    margin-bottom: 20px;
}

.img-arrow {
    height: 10px;
    width: 10px;
    border: 3px solid black;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.img-arrow:hover {
    border: 3px solid white;
}

.img-arrow:hover img {
    filter: invert(100%);
}

.img-arrow img {
    height: 40px;
}

.d-icon {
    padding: 20px;
    height: 35px;
    width: 35px;
    border: 3px solid black;
    border-radius: 100%;
    text-align: center;
}

.d-icon:hover {
    color: white;
    border-color: white;
}

.space-key {
    padding: 20px;
    height: 35px;
    width: 100px;
    border: 3px solid black;
    border-radius: 10%;
    text-align: center;
}

.space-key:hover {
    color: white;
    border-color: white;
}

@media (max-width: 700px) {

    .gameplay-keys {
        font-size: 25px;
    }

    .key-arrow-around {
        margin-right: 10px;
        padding: 10px;
    }

    .img-arrow {
        height: 0;
        width: 0;
    }

    .img-arrow img {
        height: 30px;
    }

    .d-icon {
        height: 25px;
        width: 25px;
    }

    .space-key {
        height: 25px;
    }
}

@media (orientation:landscape) and (max-height: 800px) {

    .gameplay-keys {
        font-size: 15px;
        /* display: none; */
    }

    .key-arrow-around {
        margin-right: 0;
        padding: 5px;
    }

    .explain-key {
        display: none;
    }

    .img-arrow {
        height: 0;
        width: 0;
        padding: 15px;
    }

    .img-arrow img {
        height: 15px;
    }

    .d-icon {
        height: 10px;
        width: 10px;
        padding: 10px;
    }

    .space-key {
        height: 10px;
        padding: 10px;
        width: 50px;
    }
}

.switch-screen {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1;
    display: none;
    justify-content: center;
    align-items: center;
}

.switch-screen img {
    height: 200px;
}

@media screen and (orientation:portrait) and (max-width: 500px) {

    @keyframes turn {
        from {transform: rotate(0deg)}
        to {transform: rotate(-45deg)}
    }

    .switch-screen {
        z-index: 1;
        display: flex;
    }

    .switch-screen img {
        animation: turn 1s infinite linear;
    }

}